h1{
    background-image: linear-gradient(to right, #66d8f5 0%, #94ccfa 51%, #70a5f5 100%);
    box-shadow: 5px 5px 12px #888888;

}
.cabecalho{
    background-color: #0066ff;
    background-color: #f2f2f2;
    box-shadow: 5px 5px 12px #888888;
}
#principal{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right, #66d8f5 0%, #78bbf1 51%, #70a5f5 100%);
}
.FundoNegrito{
    background-color: #0066ff;
    font-weight: bold;
}
